<div class="repeat-animation">

<h3>Order Details</h3>

Search: <input type="text" ng-model="orderFilter.product"/>
<br/><br/>
	<div>
		<table class="table" style="width: 300px; border: 1px solid grey;">
	<tr>
		<th ng-click="doSort('product')">Product</th>
		<th>Total</th>
	</tr>
	<tr ng-repeat="order in orders | filter: orderFilter | orderBy: 'product'">
		<td>{{ order.product }}</td>
		<td>{{ order.total | currency }}</td>
	</tr>
	<tr ng-class="totalType">
		<td>&nbsp;</td>
		<td>{{ ordersTotal | currency }}</td>
	</tr>
</table>
	</div>

</div>