<!--Sample
        <ul>
            <li ng-repeat="customer in customers | orderBy: '-age'">                                {{customer.name + ' : ' + customer.country}}</li>
        </ul>
-->     
<h2>{{ appDesc.title }}</h2>
	<div ng-hide="isHidden">
		Search: <input type="text" ng-model="customerFilter.name">
		
	
    	<table>
			<tr>
                <th ng-click="doSort('name')">Name</th>
                <th ng-click="doSort('country')">Country</th>
                <th ng-click="doSort('orderTotal')">orderTotal</th>
                <th ng-click="doSort('joined')">Joined</th>
				<th>&nbsp;</th>
            </tr>

            <tr ng-repeat="customer in customers | filter: customerFilter | orderBy: sortBy: reverse">
                <td>{{customer.name}}</td>
                <td>{{customer.country}}</td>
                <td>{{customer.orderTotal | currency: '$'}}</td>
                <td>{{customer.joined | date: 'yyyy-MM-dd'}}</td>
				<td><a href="#/orders/{{customer.id}}">View Orders</a></td>
            </tr>
            </tbody>

        </table>
            <br/>
        <span>Total Customers: {{customers.length}}</span>
</div>
<!--Hide: <button type="checkbox" ng-model="isHidden"></button>-->
<br><br>

<footer>Version: {{appDesc.version}}</footer>